.profil-container{
    background-color: var(--couleur-carte);
    border-radius: 10px;
    border: 1px solid var(--couleur-neon);
    box-shadow: 0 0 10px var(--couleur-neon), 0 0 10px var(--couleur-neon), 0 0 20px var(--couleur-neon);
    padding: 20px;
    color: var(--couleur-texte);
    width: 100%;
    max-width: 400px;
}
.profil-button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--couleur-neon);
    border-radius: 5px;
    background-color: var(--couleur-carte);
    color: var(--couleur-texte);
}
.profil-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--couleur-fond);
}