.card {
    height: 275px;
    background-color: var(--couleur-carte);
    border-radius: 10px;
    border: 1px solid var(--couleur-neon);
    box-shadow: 0 0 10px var(--couleur-neon), 0 0 10px var(--couleur-neon), 0 0 20px var(--couleur-neon);
    padding: 20px;
    color: var(--couleur-texte);
    transition: transform 0.3s ease;
}
.card:hover{
    transform: scale(1.05);
}
.card-link {
    text-decoration: none;
    color: var(--couleur-texte);
}
.card-link:visited {
    color: var(--couleur-texte);
}